<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Obin Coffee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logos/logo.png') }}">
    
</head>


<header>
    
    <div class="inner-header container">
        <nav>
            <img src="{{ url_for('static', filename='img/logos/logo.png') }}" alt="Logo" width="80">
            <div class="logo">
                <a href="/home"><img src="{{ url_for('static', filename='img/logos/logoobin.png') }}" alt="Logo"></a>
            </div>
            <div class="main-menu">
                <ul class="ul1">
                    <li><a href="{{ url_for('home') }}">Trang chủ</a></li>
                    <li>
                        <a href="/cafe">Cà Phê</a>
                    </li>
                    <li>
                        <a href="/tra">Trà</a>
                    </li>
                    <li>
                        <a href="/banhngot">Bánh ngọt</a>
                    </li>
                </ul>
            </div>
            <div class="icon padd20">
                <a href="{{ url_for('cart' )}}"><i class="fa fa-shopping-cart" style="font-size:30px">:</i><span id="slsp"></span></a>
            </div>
            <div class="logout">
                <a href="{{ url_for('logout')}}">Đăng xuất</a>
            </div>
        </nav>
    </div>
    
</header>

<body onload="loadslsp()">
    <div class="containerfull padd20">
        <div class="container2 ">
            <div class="box3">154 cửa hàng khắp cả nước</div>
            <div class="box3">Hotline: 1800 6936</div>
            <div class="box3">Freeship từ 50.000 đ</div>
        </div>
    </div>    
    <div class="containerfull mrtop">
    </div>
    <div id="wrapper">
        <div class="headline">
            <h3>SẢN PHẨM BÁN CHẠY</h3>
        </div>
    </div>
    <section class="containerfull">
        <div class="container">
            <div class="containerfull">
                <div class="box50 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp1.webp') }}" alt="">
                </div>
                <div class="box25 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp2.webp') }}" alt="">
                    <a href=""><div class="name-items">The Coffee House Sữa Đá</div></a>
                    <div class="price-items">39.000 đ</div>
                    <input type="hidden" name="price" value="39000">
                    <button>Thêm vào giỏ hàng</button>
                    
                </div>
                <div class="box25 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp3.webp') }}" alt="">
                     <a href=""><div class="name-items">The Coffee House Sữa Đá</div></a>
                    <div class="price-items">39.000 đ</div>
                    <input type="hidden" name="price" value="39000">
                    <button>Thêm vào giỏ hàng</button>
                </div>
                
            </div>
            <div class="containerfull mr30">
                <div class="box25 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp1.webp') }}" alt="">
                     <a href=""><div class="name-items">The Coffee House Sữa Đá</div></a>
                    <div class="price-items">39.000 đ</div>
                    <input type="hidden" name="price" value="39000">
                    <button>Thêm vào giỏ hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp2.webp') }}" alt="">
                     <a href=""><div class="name-items">The Coffee House Sữa Đá</div></a>
                    <div class="price-items">39.000 đ</div>
                    <input type="hidden" name="price" value="39000">
                    <button>Thêm vào giỏ hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp3.webp') }}" alt="">
                     <a href=""><div class="name-items">The Coffee House Sữa Đá</div></a>
                    <div class="price-items">39.000 đ</div>
                    <input type="hidden" name="price" value="39000">
                    <button>Thêm vào giỏ hàng</button>
                </div>
                <div class="box25 mr15">
                    <img src="{{ url_for('static', filename='img/products/sp4.webp') }}" alt="">
                     <a href=""><div class="name-items">The Coffee House Sữa Đá</div></a>
                    <div class="price-items">39.000 đ</div>
                    <input type="hidden" name="price" value="39000">
                    <button>Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
    </section>
    <div id="wrapper">
        <div class="headline">
            <h3>CÀ PHÊ VIỆT NAM</h3>
        </div>
    </div>
    <section class="containerfull">
        <div class="container">
            <div class="containerfull">
                {% for product in coffee_product%}
                <div class="box25 mr15">
                    <form action="{{ url_for('addcoffee') }}" method="POST" >
                        <img src="{{ url_for('static', filename=product.image ) }}" alt="">
                        <a href=""><div class="name-items"><input type="hidden" name="id" value="{{ product.id }}"></div></a>
                        <div class="price-items" ><a name="name">{{ product.name }}</a></div>
                        <input type="hidden" placeholder="quantity" name="quantity" value=1>
                        <div class="price" ><a name="price">{{ product.price }}</a></div>
                        <button type="submit">Thêm vào giỏ hàng</button>
                    </form>  
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
    <div id="wrapper">
        <div class="headline">
            <h3>Trà Trái Cây</h3>
        </div>
    </div>
    <section class="containerfull">
        <div class="container">
            
            <div class="containerfull">
                {% for product in tea_product%}
                <div class="box25 mr15">
                    <form action="{{ url_for('addtea') }}" method="POST" >
                        <img src="{{ url_for('static', filename=product.image ) }}" alt="">
                        <a href=""><div class="name-items"><input type="hidden" name="id" value="{{ product.id }}"></div></a>
                        <div class="price-items" ><a name="name">{{ product.name }}</a></div>
                        <input type="hidden" placeholder="quantity" name="quantity" value=1>
                        <div class="price" ><a name="price">{{ product.price }}</a></div>
                        <button type="submit">Thêm vào giỏ hàng</button>
                    </form>  
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
    <div id="wrapper">
        <div class="headline">
            <h3>Bánh ngọt</h3>
        </div>
    </div>
    <section class="containerfull">
        <div class="container">
            
            <div class="containerfull">
                {% for product in cake_product%}
                <div class="box25 mr15">
                    <form action="{{ url_for('addcake') }}" method="POST" >
                        <img src="{{ url_for('static', filename=product.image ) }}" alt="">
                        <a href=""><div class="name-items"><input type="hidden" name="id" value="{{ product.id }}"></div></a>
                        <div class="price-items" ><a name="name" >{{ product.name }}</a></div>
                        <input type="hidden" placeholder="quantity" name="quantity" value=1>
                        <div class="price" ><a name="price">{{ product.price }}</a></div>
                        <button type="submit">Thêm vào giỏ hàng</button>
                    </form>  
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
    <footer class="row" style="text-align: center;">
        Designed By Tran van Phuoc
        <br>
        Phone Number: 01234567890
        <br>
        Email: tranp9436@gmail.com
        <br>
    </footer>
    <script> 
        var arrhinh=["banner1.webp","banner2.webp","banner3.webp","banner4.webp"]
        setInterval(loadimg,2700);
        function loadimg(){
            var i=document.getElementById("img").alt;
            i++;
            if(i==parseInt(arrhinh.length - 1)){
                i=0;
            }
            document.getElementById("img").src="{{ url_for('static', filename='img/') }}" + arrhinh[i];
            document.getElementById("img").alt=i;
        }
    </script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>

</body>

</html>